<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.email.mybatis.mapper.mapper.ContactsMapper">

    <select id="selByUserName" resultType="EmailContacts">
         select T.* from t_user_contacts T where
         T.username = #{username}
         <if test="groupid != null and groupid !=''" >
             and T.groupid = 'group1'
         </if>
    </select>

</mapper>