<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.email.mybatis.mapper.mapper.EmailUserMapper">

    <select id="selAll"  resultType="emailUserDto">
        select *
        from users
    </select>
    <select id="countAll"  resultType="java.lang.Integer">
        select count(1)
        from users
    </select>

    <select id="selById" resultType="emailUserDto">
        select * from users where username=#{username}
    </select>

    <select id="selByUserNameAndPasswd" resultType="emailUserDto">
        select * from users where username=#{username} and pwdHash=#{pwdHash}
    </select>

    <select id="getUserName" resultType="java.lang.String">
        select realname from t_users_name
        where username = #{username}
    </select>

    <insert id="insertUser" parameterType="emailUserDto">
        insert into users values
        (#{username},#{pwdHash},#{pwdAlgorithm},#{useForwarding},#{forwardDestination},#{useAlias},#{alias})
    </insert>

    <update id="updateUser" parameterType="emailUserDto">
        update users set pwdHash = #{pwdHash}
        where username = #{username}
    </update>

    <delete id="delUser" parameterType="java.lang.String">
        delete from users where username in
        <foreach collection="list" open="(" close=")" separator="," index="index" item="item">
            #{item}
        </foreach>
    </delete>

    <insert id="insertUserName" parameterType="emailUserDto">
        insert into t_users_name values(#{urid},#{username},#{realname})
    </insert>
    <update id="updName" parameterType="emailUserDto">
        update t_users_name set realname = #{realname} where username=#{username}
    </update>
</mapper>