<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.email.mybatis.mapper.EmailUserMapper">

    <select id="selAll"  resultType="emailUserDto">
        select *
        from users
    </select>

    <select id="selById" resultType="emailUserDto">
        select * from users where username=#{userid}
    </select>

    <select id="selByUserNameAndPasswd" resultType="emailUserDto">
        select * from users where username=#{username} and pwdHash=#{pwdHash}
    </select>

    <insert id="insertUser" parameterType="emailUserDto">
        insert into users values
        (#{username},#{pwdHash},#{pwdAlgorithm},#{useForwarding},#{forwardDestination},#{useAlias},#{alias})
    </insert>

</mapper>