<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <context:property-placeholder location="classpath:file.properties" ignore-unresolvable="true"/>

    <!-- 注解支持 -->
    <context:annotation-config/>
    <context:component-scan base-package="com.hdu.email.web.controller">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

<!--    <context:property-placeholder location="classpath:passwdAlgorithm.properties"/>-->
    <!--    <bean class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration"/>-->

    <!-- 文件上传支持 -->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
        <!--<property name="maxUploadSize">-->
            <!--<value>10000000000</value> &lt;!&ndash; 以字节byte为单位 &ndash;&gt;-->
        <!--</property>-->
        <!--<property name="defaultEncoding">-->
            <!--<value>UTF-8</value>-->
        <!--</property>-->
    <!--</bean>-->

    <import resource="applicationContext-user-consumer.xml"/>
    <import resource="applicationContext-email-consumer.xml"/>
    <import resource="applicationContext-config-consumer.xml"/>
</beans>
