<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd ">

	<context:annotation-config />
<!--    <context:component-scan base-package="com.fingard.rabbit.acccore.biz" />-->
<!--	<context:component-scan base-package="com.fingard.rabbit.cloudtools.common"/>-->
    <context:property-placeholder location="classpath:mail.properties" ignore-unresolvable="true"/>

    <context:component-scan base-package="com.hdu.emailservice.biz.service"/>
	<import resource="classpath*:applicationContext-dao.xml" />

    <!-- 加载Spring上下文环境 -->
	<import resource="classpath:applicationContext-user-consumer.xml"/>

</beans>

