<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.email.mybatis.mapper.FileMapper">

    <insert id="insFile" parameterType="com.hdu.emailservice.dto.FileDto">
        insert into t_inbox_file values
        (#{urid},#{messageName},#{filename},#{filepath})
    </insert>
</mapper>