<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.email.mybatis.mapper.FileMapper">

    <insert id="insFile" parameterType="com.hdu.emailservice.dto.FileDto">
        insert into t_inbox_file values
        (#{urid},#{messageName},#{ftpfilename},#{filename},#{filepath})
    </insert>

    <select id="selByMessageName" resultType="com.hdu.emailservice.dto.FileDto">
        select T.* from t_inbox_file T
        where T.message_name=#{messageName}
    </select>
</mapper>