<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.email.mybatis.mapper.InboxMapper">

    <select id="selByRecipNonRead" resultType="inbox">
        select T.*,K.has_read
        from inbox T left join t_inbox_read K
        on T.message_name = K.message_name
        where T.recipients = #{recipients} and K.has_read is null
        <if test='orderby != null and orderby !="" and sortdir != null and sortdir !="" '>
            order by ${orderby} ${sortdir}
        </if>
    </select>

    <select id="countByRecipNonRead" resultType="java.lang.Integer">
        select count(1)
        from inbox T left join t_inbox_read K
        on T.message_name = K.message_name
        where T.recipients = #{recipients} and K.has_read is null ;
    </select>

    <select id="selByRecip" resultType="inbox">
        select T.message_name,T.sender,T.message_body,T.last_updated,K.has_read,K.read_date from inbox T left join t_inbox_read K
        on T.message_name = K.message_name
        where T.recipients = #{recipients}
        <if test='orderby != null and orderby !="" and sortdir != null and sortdir !="" '>
            order by ${orderby} ${sortdir}
        </if>
    </select>

    <select id="countByRecip" resultType="java.lang.Integer">
        select count(1) from inbox T left join t_inbox_read K
        on T.message_name = K.message_name
        where T.recipients = #{recipients}
    </select>

    <select id="selBySender" resultType="inbox">
        select * from inbox where sender = #{sender}
    </select>

    <select id="selById" resultType="inbox">
        select T.* from inbox T
        where T.message_name = #{messageName}
    </select>
</mapper>