<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdu.email.mybatis.mapper.RecycleMapper">
    <insert id="insRecycle" parameterType="recycleDto">
        insert into t_recycle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="urid != null and urid !=''">
                urid,
            </if>
            <if test="messageName != null and messageName !=''">
                message_name,
            </if>
            <if test="username != null and username !=''">
                username,
            </if>
            <if test="rectype != null and rectype !=''">
                rectype,
            </if>
            <if test="sender != null and sender !=''">
                sender,
            </if>
            <if test="recipients != null and recipients !=''">
                recipients,
            </if>
            <if test="content != null and content !=''">
                content,
            </if>
            <if test="lastUpdated != null">
                last_updated
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="urid != null and urid !=''">
                #{urid,jdbcType = VARCHAR },
            </if>
            <if test="messageName != null and messageName !=''">
                #{messageName,jdbcType = VARCHAR},
            </if>
            <if test="username != null and username !=''">
                #{username,jdbcType = VARCHAR },
            </if>
            <if test="rectype != null and rectype !=''">
                #{rectype,jdbcType = VARCHAR },
            </if>
            <if test="sender != null and sender !=''">
                #{sender,jdbcType = VARCHAR },
            </if>
            <if test="recipients != null and recipients !=''">
                #{recipients,jdbcType = VARCHAR },
            </if>
            <if test="content != null and content !=''">
                #{content,jdbcType = VARCHAR },
            </if>
            <if test="lastUpdated != null ">
                #{lastUpdated,jdbcType = DATE },
            </if>
        </trim>
    </insert>

    <select id="selRecycle" resultType="recycleDto">
        select T.* from t_recycle T where 1=1
        and T.username = #{username}
        <if test="rectype !=null and rectype !=''">
            and T.rectype = #{rectype}
        </if>
        <if test="lastUpdatedStart !=null">
            and T.last_updated <![CDATA[ >= ]]> #{lastUpdatedStart,jdbcType = DATE}
        </if>
        <if test="lastUpdatedEnd !=null">
            and T.last_updated <![CDATA[ <= ]]> #{lastUpdatedEnd,jdbcType = DATE}
        </if>
    </select>

    <select id="countRecycle" resultType="java.lang.Integer">
        select count(1) from t_recycle T where 1=1
        and T.username = #{username}
        <if test="rectype !=null and rectype !=''">
            and T.rectype = #{rectype}
        </if>
        <if test="lastUpdatedStart !=null">
            and T.last_updated <![CDATA[ >= ]]> #{lastUpdatedStart,jdbcType = DATE}
        </if>
        <if test="lastUpdatedEnd !=null">
            and T.last_updated <![CDATA[ <= ]]> #{lastUpdatedEnd,jdbcType = DATE}
        </if>
    </select>

    <delete id="delRecycle" >
        delete from t_recycle
        where 1=1
        and username = #{username}
        and message_name in
        <foreach collection="messageNames" open="(" close=")" separator="," index="index" item="item">
            #{item}
        </foreach>

    </delete>

</mapper>